.luz{
    width: 120px;
    height: 120px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.purple{
    background-color: purple;
}

.red.encendido{
    -webkit-box-shadow: 0px 0px 62px 39px red;
    -moz-box-shadow: 0px 0px 62px 39px red;
    box-shadow: 0px 0px 62px 39px red;
}

.green.encendido{
    -webkit-box-shadow: 0px 0px 62px 39px green;
    -moz-box-shadow: 0px 0px 62px 39px green;
    box-shadow: 0px 0px 62px 39px green;
}

.yellow.encendido{
    -webkit-box-shadow: 0px 0px 62px 39px yellow;
    -moz-box-shadow: 0px 0px 62px 39px yellow;
    box-shadow: 0px 0px 62px 39px yellow;
}

.purple.encendido{
    -webkit-box-shadow: 0px 0px 62px 39px purple;
    -moz-box-shadow: 0px 0px 62px 39px purple;
    box-shadow: 0px 0px 62px 39px purple;
}